GITHUB_PAT=your_fine_grained_pat_here
GITHUB_REPO=TiagoLuz9292/bybit_trading_bot
GITHUB_BRANCH=investment_demo_bot
BYBIT_API_KEY=your_readonly_key
BYBIT_API_SECRET=your_readonly_secret
BYBIT_BASE_URL=https://api-demo.bybit.com
